@using ThinkElectric.Web.Infrastructure.Extensions
@model IEnumerable<PostAllViewModel>
@{
    ViewBag.Title = "Forum";
}
<h2 class="text-center mt-5 cool-font2">@ViewBag.Title</h2>
<hr />
<div class="d-grid gap-2 mb-2 mt-3">
    <a asp-area="Forum" asp-controller="Post" asp-action="Create" class="btn btn-success">Add Post</a>
</div>
@if (Model.Any())
{
    <div class="row mt-4">
        @foreach (var post in Model)
        {
            <div class="col-sm-6 mt-3">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title text-center">@TruncateString(post.Title, 50)</h4>
                        <p class="card-text">@TruncateString(post.Content, 70)</p>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-md-6">
                                <p class="mb-0"><strong>User:</strong> @post.UserFullName</p>
                                <p class="mb-0"><strong>Added On:</strong> @post.CreatedOn</p>
                            </div>
                            <div class="col-md-6 text-end">
                                <p class="mb-0"><strong>Comments Count:</strong> @post.CommentsCount</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer d-grid gap-2">
                        <a asp-area="Forum" asp-controller="Post" asp-action="Details" asp-route-id="@post.Id" class="btn btn-info">View</a>
                        @if (post.UserId.ToLower() == User.GetId()!.ToLower() || User.IsAdmin())
                        {
                            <a asp-area="Forum" asp-controller="Post" asp-action="Edit" asp-route-id="@post.Id" class="btn btn-warning">Edit</a>
                            <form class="mt-2" asp-area="Forum" asp-controller="Post" asp-action="Delete" asp-route-id="@post.Id">
                                <div class="d-grid gap-2">
                                    <input type="submit" value="Delete" class="btn btn-danger mb-2" onclick="return confirm('Are you sure you want to delete the post?')"/>
                                </div>
                            </form>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p class="text-center">No posts yet!</p>
}

@functions {
    public string TruncateString(string input, int maxLength)
    {
        if (input.Length > maxLength)
        {
            return input.Substring(0, maxLength) + "...";
        }
        return input;
    }
}