@using ThinkElectric.Web.Infrastructure.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model PostDetailsViewModel

@{
    ViewBag.Title = "Forum Post Details";
}

<div class="container mt-5">
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h3>@Model.Title</h3>
            @if (Model.UserId.ToLower() == User.GetId()!.ToLower() || User.IsAdmin())
            {
                <div class="btn-group">
                    <a asp-area="Forum" asp-controller="Post" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
                    <form asp-area="Forum" asp-controller="Post" asp-action="Delete" asp-route-id="@Model.Id">
                        <div class="d-grid gap-2">
                            <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete the post?')"/>
                        </div>
                    </form>
                </div>
            }
        </div>
        <div class="card-body">
            <p>@Model.Content</p>
        </div>
        <div class="card-body">
            <small>Created on: @Model.CreatedOn</small>
            <p>By: @Model.UserFullName</p>
            <p>Comments Count: @Model.CommentsCount</p>
        </div>
    </div>

    <h3 class="mt-3 mb-3">Comments: </h3>

    @if (Model.Comments.Any())
    {
        @foreach (var comment in Model.Comments)
        {
            <div class="card .bg-light col-6">
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>@comment.Content</p>
                        <footer class="blockquote-footer">@comment.UserFullName @comment.CreatedOn</footer>
                        <div class="float-right">
                            @if (comment.UserId.ToLower() == User.GetId()!.ToLower() || User.IsAdmin())
                            {
                                <div class="btn-group">
                                    <a asp-area="Forum" asp-controller="Comment" asp-action="Edit" asp-route-id="@comment.Id" class="btn btn-warning">Edit</a>
                                    <form asp-area="Forum" asp-controller="Comment" asp-action="Delete" asp-route-id="@comment.Id">
                                        <div class="d-grid gap-2">
                                            <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete the comment?')"/>
                                        </div>
                                    </form>
                                </div>
                            }
                        </div>
                    </blockquote>
                </div>
            </div>
        }
    }
    else
    {
        <p>No comments yet!</p>
    }
    
    <p class="mt-5"></p>
    <form asp-area="Forum" asp-controller="Comment" asp-action="Add" asp-route-id="@Model.Id" method="post">
        <div class="form-group card-header row">
            <div class="col-12">
                <h5>Add comment</h5>
            </div>
            <div class="col-8">
                <label>Comment: </label>
                <textarea asp-for="CurrentComment.Content" class="form-control" rows="3"></textarea>
                <span asp-validation-for="CurrentComment.Content" class="text-danger"></span>
            </div>
            <div class="col-4">
                <input class="btn btn-primary mt-2 float-lg-right" type="submit" value="Send" />
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}