@model CompanyDetailsViewModel

@{
    ViewBag.Title = "Company Details";
}

<div class="container py-5">
    <div class="row">
        <div class="col-md-4">
            <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Image.Data)" alt="Company Logo" class="img-fluid rounded-circle" />
        </div>
        <div class="col-md-8">
            <h2>@Model.Name</h2>
            <h4><strong>Email:</strong> @Model.Email</h4>
            <h4><strong>Phone Number:</strong> @Model.PhoneNumber</h4>
            <h4><strong>Website:</strong> <a href="@Model.Website" target="_blank">@Model.Website</a></h4>
            <h4><strong>Description:</strong> @Model.Description</h4>
            <h4><strong>Founded Date:</strong> @Model.FoundedDate.ToString("MM/dd/yyyy")</h4>
            <h4><strong>Address:</strong></h4>
            <p>
                @Model.Address.Street<br />
                @Model.Address.City, @Model.Address.ZipCode<br />
                @Model.Address.Country
            </p>
        </div>
    </div>
</div>